/* Media query */

@media screen and (max-width:670px) {
    .nav-links ul li.active::after{
        height: 5px;
    }
}


@media screen and (max-width:470px) {
    .nav-links ul li{
     font-size: 0.86rem;
    }
}
@media screen and (max-width:300px) {
    .nav-links ul li{
     font-size: 0.56rem;
    }
}


